
@{
    ViewBag.Title = "GettingStarted";
}

<div class="jumbotron">
    <h1>Getting started</h1>
    <p>
        <ol>
            <li>
                Ffirst you need to download the NeviX Desktio Client. If you haven't already you can obtain it from here - <a href="http://sourceforge.net/projects/nevix/files/latest/download?source=directory" style="font-size:medium" class="btn btn-primary">Get NeviX Latest</a>
            </li>
        </ol>
    </p>
</div>

