
@{
    ViewBag.Title = "Confirm account";
}

@if (ViewBag.confirmed == true)
{
    <h1 class="confirmation">
        Congrats! Your account is now activated and you can log in and start using our services!
    </h1>
}
else
{
    <div class="rejection">
        <h2>
            Bad activation link...
        </h2>
        <p>
            If you wish to change your password you need to make a reset password request using either the Android app or the desktop application and then follow the provided reset link that is to be sent to your email address.
        </p>
        <p>
            If you happen to have issues with that process please feel free to contact us at <a href="mailto:support@nevix-remote.com">support@@nevix-remote.com</a></p>
    </div>    
}

