body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333;
    color: #ddd;
    font-family: 'Segoe UI';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron {
    margin-top: 30px;
    color: #333;
}

.body-content .main-jumbotron {
    padding-top: 120px;
    background: #eee url(Assets/SiteLogos.png) no-repeat right top;
}

footer {
    text-align:center;
    margin-top: 60px;
    background-color: #222;
    padding: 45px 0;
}

.confirmation {
    background-color: #45b722;
    padding: 20px;
}

.rejection {
    background-color: #b72222;
    padding: 20px;
}

.row .get-started-list li {
    margin-top: 25px;
}