<div class="jumbotron">
    <h1><img src="http://antonyjekov.com/nevix/NevixLogo.png" /> Remote Control (Free)</h1>
    <p class="lead">NeviX is the solution for controlling your computer media player directly from your Android device!</p>
    <p>You no longer need to disturb your setting wether you are resting on your couch or snuggling in bed. Now you can simply take controll over your
    computer's media player and browse your hard drive to play the stuff you want.</p>
    <p style="text-align:right"><a href="http://asp.net" style="font-size:xx-large" class="btn btn-primary btn-large">Dowload NeviX Desktop Client 1.0.0.48 &raquo;</a><br />
        <a href="http://sourceforge.net/projects/nevix/files/latest/download?source=directory" target="_blank" style="font-size:small">Download from SourceForge.net</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Learn how to setup NeviX and how to start enjoying its features right away! This guide will lead you towards the full set of steps
        needed to achieve just that.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Get started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Learn about the currently supported media players and the features of both the Android app and the desktop application. Check the system requirments and learn something more about NeviX.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pricing</h2>
        <p>NeviX is a free application and it is intended to stay that way.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
